<!DOCTYPE html>
<html>
<head>
    <title>Dojo Fruit Store</title>
</head>
<body>

<h1>FRUIT TEST 🔥</h1>

<form action="/checkout" method="post">

    Strawberry:
    <select name="strawberry">
        <option value="0">0</option>
        <option value="1">1</option>
    </select>

    <br>

    Raspberry:
    <select name="raspberry">
        <option value="0">0</option>
        <option value="1">1</option>
    </select>

    <br>

    Apple:
    <select name="apple">
        <option value="0">0</option>
        <option value="1">1</option>
    </select>

    <br><br>

    Name:
    <input type="text" name="name">

    <br>

    Student ID:
    <input type="text" name="student_id">

    <br><br>

    <input type="submit" value="Buy">

</form>

</body>
</html>