<!DOCTYPE html>
<html>
<head>
    <title>Checkerboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Checkerboard</h1>

    <div class="board">
        {% for i in range(rows) %}
    <div class="row">
        {% for j in range(cols) %}
            {% if (i + j) % 2 == 0 %}
                <div class="box" style="background-color: {{ color1 }};"></div>
            {% else %}
                <div class="box" style="background-color: {{ color2 }};"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
    </div>
</body>
</html>